.table{
	margin-left: 40%;
	background-clip: yellow;
	
}
input[type="button"]
         {
         background-color:lightgray;
         color: black;
         border: solid rgba(118,118,118,1.00) 2px;
         width:100%
		
	     
         }

 input[type="text"]
         {
         background-color:rgba(234,234,234,1.00);
         border: solid black 2px;
         width:100%
}

 .title{
         margin-bottom: 10px;
         text-align:center;
         width: 210px;
         color:solid blue;
         border: solid black 2px;
	 background-color:rgba(139,139,139,1.00);
	 margin-left: 40%;
	 
         }

