.container{
	text-align: center;
}
.table{
	
	margin: auto;
}
input[type="text"]{
	font-size: 25px;
	border:3px solid rgba(156,156,156,1.00);
	border-radius: 15px;
}
input[type="button"]{
	font-size: 30px;
	background-color: lightcyan;
	width: 100px;
	height: 41px;
	border-radius: 25px;
	
}
.calculator{
	display: inline-block;
	border-radius: 15px;
	background-color: #24114c87;
	box-shadow: 0px 0px 18px 4px black;
}
/*input[type="button"]
         {
         ba
		
	     
         }

 input[type="text"]
         {
         background-color:rgba(234,234,234,1.00);
         border: solid black 2px;
         width:100%;
	     border-radius: 10px;
*/


